<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Übersicht</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Übersicht</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Willkommen {{iserv.userdata?.username}}</ion-card-title>
      <ion-card-subtitle>
        Du hast {{unreadMails?.length || 0}} ungelesene E-Mails<br>
        <span>{{classData?.class.startsWith('Q') ? 'Jahrgang' : 'Klasse'}} {{classData?.class}}</span><br>
        {{dayName}} der {{today?.toLocaleDateString()}}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Stundenplan</ion-card-title>
    </ion-card-header>
    <ion-card-content class="lesson-content">
      <ion-card *ngIf="lessons?.length < 1">
        <ion-card-header>
          <ion-card-subtitle>Kein Unterricht</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <div class="lesson-container">
        <lesson *ngFor="let lesson of lessons" [lesson]="lesson" [courses]="classData.courses" />
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vertretungsplan</ion-card-title>
      <ion-card-subtitle>{{subsDate?.toLocaleDateString()}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card *ngIf="subs?.length < 1">
        <ion-card-header>
          <ion-card-subtitle>Keine Vertretungen</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <substitution *ngFor="let sub of subs" [subs]="sub" />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ungelesene E-Mails</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-card *ngIf="unreadMails?.length < 1">
          <ion-card-header>
            <ion-card-subtitle>Keine ungelesenen E-Mails</ion-card-subtitle>
          </ion-card-header>
        </ion-card>

        <mail *ngFor="let mail of unreadMails" [mail]="mail" (click)="router.navigate(['mails/' + mail.id])" />
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
