<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title (click)="fakeModal.present()">Vertretungsplan {{data?.date.toLocaleDateString()}}</ion-title>
  </ion-toolbar>

  <ion-modal #fakeModal (didDismiss)="addFakeSubstitution($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="fakeModal.dismiss(null, 'cancel')">Abbrechen</ion-button>
          </ion-buttons>
          <ion-title>Fake Vertretung</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="fakeModal.dismiss({type: type.value, course: course.value, lessons: lessons.value, teacher: teacher.value}, 'confirm')">Fertig</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding course-content">
        <ion-item>
          <ion-label position="stacked">Typ</ion-label>
          <ion-select aria-label="Typ" interface="action-sheet" value="Entfall" #type>
            <ion-select-option value="Entfall">Entfall</ion-select-option>
            <ion-select-option value="Stillarbeit">Stillarbeit</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Kurs</ion-label>
          <ion-select aria-label="Kurs" interface="action-sheet" [value]="courses[0]" #course>
            <ion-select-option *ngFor="let course of courses" [value]="course">
              {{course}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Stunden</ion-label>
          <ion-input aria-label="Stunden" type="text" #lessons/>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Lehrer</ion-label>
          <ion-input aria-label="Lehrer" type="text" #teacher/>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" (click)="fakeModal.present()">Vertretungsplan</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="today" (ionChange)="changeDate(segment.value)" #segment>
    <ion-segment-button value="today">
      <ion-label>Heute</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tomorrow">
      <ion-label>Morgen</ion-label>
    </ion-segment-button>
  </ion-segment>

  <section *ngIf="showNews">
    <ion-card *ngFor="let info of data?.notifications">
      <ion-card-content>
        <ion-label [innerHtml]="info" style="color: #FFF"/>
      </ion-card-content>
    </ion-card>
  </section>

  <section *ngIf="!showNews">
    <ion-item style="--background: transparent; --border-color: transparent">
      <ion-select label="Klasse" [value]="currentClass" interface="action-sheet" (ionChange)="changeClass(select.value)" #select>
        <ion-select-option value="all">Alle Klassen</ion-select-option>
        <ion-select-option *ngFor="let className of units.getClasses()" [value]="className" [innerHtml]="className" />
      </ion-select>
    </ion-item>
    <ion-item style="--background: transparent; --border-color: transparent" *ngIf="currentClass == 'Q1' || currentClass == 'Q2'">
      <ion-checkbox justify="space-between" [(ngModel)]="filterByClasses" (ionChange)="showOnlyCourses(classes.checked)" #classes>Nur eigene Kurse anzeigen</ion-checkbox>
    </ion-item>

    <substitution *ngFor="let subs of data?.substitutions" [subs]="subs" [ngClass]="{'hide': (subs.classes.indexOf(currentClass) == -1 && currentClass != 'all') || !hasClass(subs.lesson)}" />
  </section>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-tab-button (click)="showNews = false" [ngClass]="{'active': !showNews}">
            <ion-icon ios="list-outline" md="list-sharp" />
            Vertretungen
          </ion-tab-button>
        </ion-col>
        <ion-col>
          <ion-tab-button (click)="showNews = true" [ngClass]="{'active': showNews}">
            <ion-icon ios="newspaper-outline" md="newspaper-sharp" />
            Nachrichten
          </ion-tab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
