ion-select {
  padding-inline: 15px;
}

.mail > div {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-block: 15px;
  width: 100%;

  .subject, .date {
    font-size: 15px;
  }

  & > div {
    display: flex;

    ion-icon {
      margin-right: 5px;
      color: var(--ion-color-primary);
    }

    .date {
      margin-left: auto;
    }
  }
}

.current-mail {
  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .subject {
      font-weight: bold;
    }

    .time {
      font-size: 15px;
    }
  }
}

.new-email {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}
